MKCERT_BINARY=./mkcert/linux/mkcert-v1.4.4-linux-amd64
CERTUTIL_INSTALL_COMMAND="sudo apt install libnss3-tools"

CERTS_DIRECTORY=./traefik/certs

TLD=localhost.blumilk.pl
DOMAIN=*.${TLD}
CERT_FILENAME=_wildcard.${TLD}.pem
KEY_FILENAME=_wildcard.${TLD}-key.pem
