.env
.idea/
.initialized

/dns/dnsmasq/dnsmasq.d/blumilk-local-environment.conf
/dns/systemd/resolved.conf.d/blumilk-local-environment.conf
/portainer/portainer-admin-password-file
/traefik/config/dynamic/certificates.yml
/traefik/config/dynamic/middlewares.yml
/traefik/config/static/traefik.yml
