global:
    checkNewVersion: true
    sendAnonymousUsage: false

log:
    level: DEBUG
    format: common

entryPoints:
    web:
        address: ":80"

    websecure:
        address: ":443"
        http3: {}

api:
    insecure: false
    dashboard: true

providers:
    file:
        directory: "/etc/traefik/config/dynamic"
        watch: true
    docker:
        network: TRAEFIK_NETWORK_PLACEHOLDER
        exposedByDefault: false
        constraints: "Label(`TRAEFIK_CUSTOM_LABEL_PLACEHOLDER`,`true`)"
